@keyframes marquee {
    from {
        transform: translateY(1200%);
    }

    to {
        transform: translateY(-700%);
    }
}

.marquee {
    display: block;
    width: 100%;
    height: 100px; 
    overflow: hidden;
}

.marquee span {
    display: flex;
    justify-content: center;
    animation: marquee 10s linear infinite;
}